:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}

/* HEADER */

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.about {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.about-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.chloe-h {
    font-size: 5rem;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    line-height: 0px;
}




/* MAIN */
.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.chloe-img {
    width: 700px;
    padding-left: 25rem;
    padding-top: 9rem;
}

.text {
    width: 45.3rem;
    height: 45rem;
    position: absolute;
    top: 34rem;
    left: 70rem;
}
.debut {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2.8rem;
}
.electro-mag {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 37.9rem;
    line-height: 0px;
}
p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 25rem;
}
#email {
    width: 500px;
    height: 33px;
    margin-left: 25rem;
    border: 1px solid black;
}
#email:hover {
    border: 3px solid rgb(36, 36, 36);
}
#submit {
    width: 508px;
    height: 37px;
    margin-left: 25rem;
    color: white;
    background-color: rgb(41, 41, 41);
}

/* FOOTER */

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}



@media (min-width: 1280px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.about {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.about-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.chloe-h {
    font-size: 5rem;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    line-height: 0px;
}
.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.chloe-img {
    width: 700px;
    padding-left: 25rem;
    padding-top: 9rem;
}

.text {
    width: 45.3rem;
    height: 45rem;
    position: absolute;
    top: 34rem;
    left: 70rem;
}
.debut {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2.8rem;
}
.electro-mag {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 37.9rem;
    line-height: 0px;
}
p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 25rem;
}
#email {
    width: 500px;
    height: 33px;
    margin-left: 25rem;
    border: 1px solid black;
}
#email:hover {
    border: 3px solid rgb(36, 36, 36);
}
#submit {
    width: 508px;
    height: 37px;
    margin-left: 25rem;
    color: white;
    background-color: rgb(41, 41, 41);
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 1279px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.about {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.about-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.chloe-h {
    font-size: 5rem;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    line-height: 0px;
}
.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.chloe-img {
    width: 700px;
    padding-left: 25rem;
    padding-top: 9rem;
}

.text {
    width: 45.3rem;
    height: 45rem;
    position: absolute;
    top: 34rem;
    left: 70rem;
}
.debut {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2.8rem;
}
.electro-mag {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 37.9rem;
    line-height: 0px;
}
p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 25rem;
}
#email {
    width: 500px;
    height: 33px;
    margin-left: 25rem;
    border: 1px solid black;
}
#email:hover {
    border: 3px solid rgb(36, 36, 36);
}
#submit {
    width: 508px;
    height: 37px;
    margin-left: 25rem;
    color: white;
    background-color: rgb(41, 41, 41);
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 768px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.about {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.about-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.chloe-h {
    font-size: 5rem;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    line-height: 0px;
}
.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.chloe-img {
    width: 400px;
    padding-left: 7rem;
    padding-top: 3rem;
}

.text {
    width: 45.3rem;
    height: 45rem;
    position: absolute;
    top: 30rem;
    left: 27rem;
}
.debut {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2.8rem;
}
.electro-mag {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 37.9rem;
    line-height: 0px;
}
p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 13rem;
}
.subscribe {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 15rem;
}
#email {
    width: 500px;
    height: 33px;
    margin-left: 15rem;
    border: 1px solid black;
}
#email:hover {
    border: 3px solid rgb(36, 36, 36);
}
#submit {
    width: 508px;
    height: 37px;
    margin-left: 15rem;
    color: white;
    background-color: rgb(41, 41, 41);
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 480px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.about {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.about-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.chloe-h {
    font-size: 5rem;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    line-height: 0px;
}
.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.chloe-img {
    width: 300px;
    height: 400px;
    padding-left: 10rem;
    padding-top: 4rem;
    object-fit: cover;
}

.text {
    width: 30rem;
    height: 45rem;
    position: absolute;
    top: 34rem;
    left: 17rem;
}
.debut {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2.8rem;
}
.electro-mag {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 21rem;
    line-height: 0px;
}
p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 27rem;
}
.subscribe {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 10rem;
}
#email {
    width: 350px;
    height: 33px;
    margin-left: 10rem;
    border: 1px solid black;
}
#email:hover {
    border: 3px solid rgb(36, 36, 36);
}
#submit {
    width: 356px;
    height: 37px;
    margin-left: 10rem;
    color: white;
    background-color: rgb(41, 41, 41);
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}