:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}

/* HEADER */

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.blog {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


/* MAIN */

.allposts-search {
    display: flex;
    flex-direction: row;
    width: 942px;
    margin-left: 267px;
    margin-top: 62px;
}
.allposts {
    font-size: 13px;
    color: rgb(247, 64, 240);
}
.search {
    width: 1.5rem;
    position: absolute;
    top: 114px;
    left: 1200px;
}
.search-1 {
    margin-left: 72.5rem;
    opacity: 0;
}
.search-1:hover {
    opacity: 1;
}
.grid {
    width: 935px;
    height: 2450px;
    margin-left: 267px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.blog-t {
    width: 454px;
    height: 350px;
    background-color: var(--main-background-color);
}
.top {
    width: 394px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.admin {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 4rem;
}
.t {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.admin-s {
    font-size: 12px;
}
.dt {
    margin-top: 4px;
}
.data {
    font-size: 12px;
}
.time {
    font-size: 12px;
    margin-left: 10px;
}
.more {
    width: 2rem;
    left: 200px;
}
.texts {
    width: 380px;
    height: 150px;
    margin-left: 30px;
}
.title {
    font-size: 30px;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}
.text {
    font-size: 17px;
}
.bottom {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.views {
    color: gray;
}
.comments {
    color: gray;
    margin-left: 20px;
}
.like {
    width: 2rem;
    margin-left: 253px;
}

.img-2 {
    margin-top: 35px;
}






/* FOOTER */
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 70px;
}





@media (min-width: 1280px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.blog {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.allposts-search {
    display: flex;
    flex-direction: row;
    width: 942px;
    margin-left: 267px;
    margin-top: 62px;
}
.allposts {
    font-size: 13px;
    color: rgb(247, 64, 240);
}
.search {
    width: 1.5rem;
    position: absolute;
    top: 114px;
    left: 1200px;
}
.search-1 {
    margin-left: 72.5rem;
    opacity: 0;
}
.search-1:hover {
    opacity: 1;
}
.grid {
    width: 935px;
    height: 2450px;
    margin-left: 267px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.blog-t {
    width: 454px;
    height: 350px;
    background-color: var(--main-background-color);
}
.top {
    width: 394px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.admin {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 4rem;
}
.t {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.admin-s {
    font-size: 12px;
}
.dt {
    margin-top: 4px;
}
.data {
    font-size: 12px;
}
.time {
    font-size: 12px;
    margin-left: 10px;
}
.more {
    width: 2rem;
    left: 200px;
}
.texts {
    width: 380px;
    height: 150px;
    margin-left: 30px;
}
.title {
    font-size: 30px;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}
.text {
    font-size: 17px;
}
.bottom {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.views {
    color: gray;
}
.comments {
    color: gray;
    margin-left: 20px;
}
.like {
    width: 2rem;
    margin-left: 253px;
}

.img-2 {
    margin-top: 35px;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 70px;
}
}



@media (max-width: 1279px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.blog {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.allposts-search {
    display: flex;
    flex-direction: row;
    width: 942px;
    margin-left: 267px;
    margin-top: 62px;
}
.allposts {
    font-size: 13px;
    color: rgb(247, 64, 240);
}
.search {
    width: 1.5rem;
    position: absolute;
    top: 114px;
    left: 1200px;
}
.search-1 {
    margin-left: 72.5rem;
    opacity: 0;
}
.search-1:hover {
    opacity: 1;
}
.grid {
    width: 935px;
    height: 2450px;
    margin-left: 267px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.blog-t {
    width: 454px;
    height: 350px;
    background-color: var(--main-background-color);
}
.top {
    width: 394px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.admin {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 4rem;
}
.t {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.admin-s {
    font-size: 12px;
}
.dt {
    margin-top: 4px;
}
.data {
    font-size: 12px;
}
.time {
    font-size: 12px;
    margin-left: 10px;
}
.more {
    width: 2rem;
    left: 200px;
}
.texts {
    width: 380px;
    height: 150px;
    margin-left: 30px;
}
.title {
    font-size: 30px;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}
.text {
    font-size: 17px;
}
.bottom {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.views {
    color: gray;
}
.comments {
    color: gray;
    margin-left: 20px;
}
.like {
    width: 2rem;
    margin-left: 253px;
}

.img-2 {
    margin-top: 35px;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 70px;
}
}



@media (max-width: 768px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.blog {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.allposts-search {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin-left: 160px;
    margin-top: 62px;
}
.allposts {
    font-size: 13px;
    color: rgb(247, 64, 240);
}
.search {
    width: 1.5rem;
    position: absolute;
    top: 114px;
    left: 600px;
}
.search-1 {
    margin-left: 23.3rem;
    opacity: 0;
}
.search-1:hover {
    opacity: 1;
}
.grid {
    width: 450px;
    height: 4500px;
    margin-left: 160px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
}
.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.blog-t {
    width: 454px;
    height: 350px;
    background-color: var(--main-background-color);
}
.top {
    width: 394px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.admin {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 4rem;
}
.t {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.admin-s {
    font-size: 12px;
}
.dt {
    margin-top: 4px;
}
.data {
    font-size: 12px;
}
.time {
    font-size: 12px;
    margin-left: 10px;
}
.more {
    width: 2rem;
    left: 200px;
}
.texts {
    width: 380px;
    height: 150px;
    margin-left: 30px;
}
.title {
    font-size: 30px;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}
.text {
    font-size: 17px;
}
.bottom {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.views {
    color: gray;
}
.comments {
    color: gray;
    margin-left: 20px;
}
.like {
    width: 2rem;
    margin-left: 253px;
}

.img-2 {
    margin-top: 35px;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 170px;
}
}



@media (max-width: 480px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.blog {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.allposts-search {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-left: 90px;
    margin-top: 62px;
}
.allposts {
    font-size: 13px;
    color: rgb(247, 64, 240);
}
.search {
    width: 1.5rem;
    position: absolute;
    top: 114px;
    left: 430px;
}
.search-1 {
    margin-left: 13rem;
    opacity: 0;
}
.search-1:hover {
    opacity: 1;
}
.grid {
    width: 350px;
    height: 4000px;
    margin-left: 90px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
}
img {
    width: 350px;
}
.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.blog-t {
    width: 350px;
    height: 350px;
    background-color: var(--main-background-color);
}
.top {
    width: 310px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.admin {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 4rem;
}
.t {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.admin-s {
    font-size: 12px;
}
.dt {
    margin-top: 4px;
}
.data {
    font-size: 12px;
}
.time {
    font-size: 12px;
    margin-left: 10px;
}
.more {
    width: 2rem;
    left: 200px;
}
.texts {
    width: 300px;
    height: 150px;
    margin-left: 30px;
}
.title {
    font-size: 30px;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}
.text {
    font-size: 17px;
}
.bottom {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.views {
    color: gray;
}
.comments {
    color: gray;
    margin-left: 20px;
}
.like {
    width: 2rem;
    margin-left: 253px;
}

.img-2 {
    margin-top: 35px;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 170px;
}
}