.background.blog {
  min-height: auto;
}
.allposts-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allposts {
  font-size: 13px;
  color: #f740f0;
}
.search {
  width: 1rem;
}

.allposts-search label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-1 {
  height: 1.5rem;
  background: none;
  border: none;
  opacity: 0;
  width: 0rem;
  outline: none;
}
.search-1:hover {
  opacity: 1;
  width: 6rem;
  border-bottom: #f740f0 solid 1px;
}

/* grid */
.grid {
  max-width: 935px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.second {
  display: flex;
  flex-direction: column;
}

.first > img,
.second > img {
  width: 100%;
}

.blog-t {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--main-background-color);
}
.top {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admin {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  width: 2.5rem;
}

.t {
  height: 40px;
  display: flex;
  flex-direction: column;
}
.admin-s {
  font-size: 12px;
}
.dt {
  margin-top: 4px;
}
.data {
  font-size: 12px;
}
.time {
  font-size: 12px;
  margin-left: 10px;
}
.more {
  width: 2rem;
}
.texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  font-size: 30px;
  font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}
.textp {
  font-size: 17px;
  margin-bottom: 2rem;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.6rem;
  font-weight: 300;
}
.views {
  color: gray;
}
.comments {
  margin-right: auto;
  color: gray;
}
.like {
  width: 1.4rem;
}

@media (max-width: 1180px) {
  .grid {
    max-width: 800px;
  }
}
@media (max-width: 980px) {
  .grid {
    max-width: 650px;
  }
}
@media (max-width: 700px) {
  .grid {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
