:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
   background-color: #F1FCED;
}

/* HEADER */

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.contact {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.contact-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}

/* MAIN */

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


.diva {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    margin-top: 80px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.b {
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.s {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.diva-am {
    margin-top: 40px;
}
.color {
    width: 25px;
    height: 4px;
    background-color: rgb(247, 64, 240);
    margin-top: 20px;
}
.mgmt {
    margin-top: 50px;
}
.booking {
    margin-top: 50px;
}


form {
    width: 52rem;
    height: 26rem;
    position: absolute;
    top: 37rem;
    left: 66.2rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    height: 23px;
    border: 1px solid black;
}
input:hover {
    border: 3px solid black;
}
#text {
    height: 126px;
}
#submit {
    width: 100px;
    margin-left: 420px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-style: none;
}


/* FOOTER */


.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 130px;
}







@media (min-width: 1280px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
   background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.contact {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.contact-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}


.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


.diva {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    margin-top: 80px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.b {
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.s {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.diva-am {
    margin-top: 40px;
}
.color {
    width: 25px;
    height: 4px;
    background-color: rgb(247, 64, 240);
    margin-top: 20px;
}
.mgmt {
    margin-top: 50px;
}
.booking {
    margin-top: 50px;
}


form {
    width: 52rem;
    height: 26rem;
    position: absolute;
    top: 37rem;
    left: 66.2rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    height: 23px;
    border: 1px solid black;
}
input:hover {
    border: 3px solid black;
}
#text {
    height: 126px;
}
#submit {
    width: 100px;
    margin-left: 420px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-style: none;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 130px;
}
}



@media (max-width: 1279px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
   background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.contact {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.contact-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}


.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


.diva {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    margin-top: 80px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.b {
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.s {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.diva-am {
    margin-top: 40px;
}
.color {
    width: 25px;
    height: 4px;
    background-color: rgb(247, 64, 240);
    margin-top: 20px;
}
.mgmt {
    margin-top: 50px;
}
.booking {
    margin-top: 50px;
}


form {
    width: 52rem;
    height: 26rem;
    position: absolute;
    top: 37rem;
    left: 66.2rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    height: 23px;
    border: 1px solid black;
}
input:hover {
    border: 3px solid black;
}
#text {
    height: 126px;
}
#submit {
    width: 100px;
    margin-left: 420px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-style: none;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 130px;
}
}



@media (max-width: 768px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
   background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.contact {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.contact-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}


.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


.diva {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    margin-top: 400px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.b {
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.s {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.diva-am {
    margin-top: 40px;
}
.color {
    width: 25px;
    height: 4px;
    background-color: rgb(247, 64, 240);
    margin-top: 20px;
}
.mgmt {
    margin-top: 50px;
}
.booking {
    margin-top: 50px;
}


form {
    width: 52rem;
    height: 26rem;
    position: absolute;
    top: 25rem;
    left: 17rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    height: 23px;
    border: 1px solid black;
}
input:hover {
    border: 3px solid black;
}
#text {
    height: 126px;
}
#submit {
    width: 100px;
    margin-left: 420px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-style: none;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 130px;
}
}



@media (max-width: 480px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
   background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.contact {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.contact-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}


.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}


.diva {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 350px;
    margin-top: 400px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.b {
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.s {
    font-family: "Quintessential", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.diva-am {
    margin-top: 40px;
}
.color {
    width: 25px;
    height: 4px;
    background-color: rgb(247, 64, 240);
    margin-top: 20px;
}
.mgmt {
    margin-top: 50px;
}
.booking {
    margin-top: 50px;
}


form {
    width: 30rem;
    height: 26rem;
    position: absolute;
    top: 25rem;
    left: 13rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
input {
    height: 23px;
    border: 1px solid black;
}
input:hover {
    border: 3px solid black;
}
#text {
    height: 126px;
}
#submit {
    width: 100px;
    margin-left: 200px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-style: none;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 130px;
}
}