main {
  width: 100%;
}
.contact-cont {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.diva {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.b {
  font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.s {
  font-family: "Quintessential", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 12px;
}

.color {
  width: 25px;
  height: 4px;
  background-color: rgb(247, 64, 240);
}

form {
  width: 50%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  right: 5%;
  top: 30vh;
}
input {
  height: 23px;
  border: 1px solid black;
}
input:hover {
  border: 3px solid black;
}
#text {
  height: 126px;
}
#submit {
  width: 100px;
  height: 1.4rem;
  background-color: rgb(45, 45, 45);
  color: white;
  border-style: none;
  margin-left: auto;
}

@media (max-width: 800px) {
  .contact-cont {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  form {
    width: 100%;
    max-width: 400px;
    position: static;
  }
}
