:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}

/* HEADER */

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.music {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.music-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}


/* MAIN */

.musicd {
    background-color: var(--main-background-color);
    width: 65rem;
    height: 107rem;
    margin-left: 43rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 40rem;
    width: 10rem;
}
img {
    width: 62rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
    font-size: 13px;
    margin-left: 30rem;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 174px;
}
audio {
    width: 620px;
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}
.m button {
    border-style: none;
}
.time {
    position: absolute;
    top: 105.5rem;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 105.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 618px;
    height: 41px;
    position: absolute;
    top: 110.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 116rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 121rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 4px;
    width: 93px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 416px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p2 {
    font-size: 10px;
   padding-top: 13px;
   padding-left:2px;
}
.m2 {
    margin-top: 6px;
    width: 108px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 402px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p3 {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 1px;
}
.m3 {
    margin-top: 5px;
    width: 99px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 409px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 15px;
   padding-left: 4px;
}
.m4 {
    margin-top: 7px;
    width: 70px;
    margin-left: 2px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 447px;
    margin-top: 5px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}



/* FOOTER */

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}




@media (min-width: 1280px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.music {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.music-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.musicd {
    background-color: var(--main-background-color);
    width: 65rem;
    height: 107rem;
    margin-left: 43rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 40rem;
    width: 10rem;
}
img {
    width: 62rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
    font-size: 13px;
    margin-left: 30rem;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 174px;
}
audio {
    width: 620px;
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}
.m button {
    border-style: none;
}
.time {
    position: absolute;
    top: 105.5rem;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 105.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 618px;
    height: 41px;
    position: absolute;
    top: 110.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 116rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 121rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 4px;
    width: 93px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 416px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p2 {
    font-size: 10px;
   padding-top: 13px;
   padding-left:2px;
}
.m2 {
    margin-top: 6px;
    width: 108px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 402px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p3 {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 1px;
}
.m3 {
    margin-top: 5px;
    width: 99px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 409px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 15px;
   padding-left: 4px;
}
.m4 {
    margin-top: 7px;
    width: 70px;
    margin-left: 2px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 447px;
    margin-top: 5px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 1279px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.music {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}

.music-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.musicd {
    background-color: var(--main-background-color);
    width: 65rem;
    height: 107rem;
    margin-left: 43rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 40rem;
    width: 10rem;
}
img {
    width: 62rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
    font-size: 13px;
    margin-left: 30rem;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 174px;
}
audio {
    width: 620px;
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}
.m button {
    border-style: none;
}
.time {
    position: absolute;
    top: 105.5rem;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 105.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 618px;
    height: 41px;
    position: absolute;
    top: 110.5rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 116rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 618px;
    height: 40px;
    position: absolute;
    top: 121rem;
    left: 455px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 4px;
    width: 93px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 416px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p2 {
    font-size: 10px;
   padding-top: 13px;
   padding-left:2px;
}
.m2 {
    margin-top: 6px;
    width: 108px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 402px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p3 {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 1px;
}
.m3 {
    margin-top: 5px;
    width: 99px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 409px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 15px;
   padding-left: 4px;
}
.m4 {
    margin-top: 7px;
    width: 70px;
    margin-left: 2px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 447px;
    margin-top: 5px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 768px) {
:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.music {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.music-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.musicd {
    background-color: var(--main-background-color);
    width: 58rem;
    height: 100rem;
    margin-left: 10rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 33rem;
    width: 10rem;
}
img {
    width: 55rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
    font-size: 13px;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
}
.wixdemoalbum {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 50px;
    display: flex;
}
audio {
    width: 550px;
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}
.m button {
    border-style: none;
}
.time {
    position: absolute;
    top: 986px;
    left: 640px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 564px;
    height: 40px;
    position: absolute;
    top: 98.5rem;
    left: 12.4rem;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 560px;
    height: 41px;
    position: absolute;
    top: 103.5rem;
    left: 12.8rem;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 560px;
    height: 40px;
    position: absolute;
    top: 109rem;
    left: 12.8rem;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 560px;
    height: 40px;
    position: absolute;
    top: 114.3rem;
    left: 12.8rem;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 4px;
    width: 93px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 362px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p2 {
    font-size: 10px;
   padding-top: 13px;
   padding-left:1px;
}
.m2 {
    margin-top: 6px;
    width: 108px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 345px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p3 {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 0px;
}
.m3 {
    margin-top: 5px;
    width: 99px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 352px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 15px;
   padding-left: 0px;
}
.m4 {
    margin-top: 7px;
    width: 70px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 387px;
    margin-top: 5px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
}



@media (max-width: 480px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

body {
    background-color: #F1FCED;
}

.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.music {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.music-h {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Cutive Mono", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 6px;
}
.musicd {
    background-color: var(--main-background-color);
    width: 38rem;
    height: 80rem;
    margin-left: 7rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 13rem;
    width: 10rem;
}
img {
    width: 35rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
    font-size: 13px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}
.wixdemoalbum {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 1px;
}
audio {
    width: 350px;
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}
.m button {
    border-style: none;
}
.time {
    position: absolute;
    top: 790px;
    left: 410px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 380px;
    height: 40px;
    position: absolute;
    top: 78.5rem;
    left: 7.8rem;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 380px;
     /* background-color: aqua; */
    height: 41px;
    position: absolute;
    top: 83.5rem;
    left: 7.8rem;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 380px;
    height: 40px;
    position: absolute;
    top: 89rem;
    left: 7.8rem;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 380px;
    height: 40px;
    position: absolute;
    top: 94rem;
    left: 7.8rem;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 19px;
}
.m1 {
    margin-top: 4px;
    width: 93px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 159px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p2 {
    font-size: 10px;
   padding-top: 13px;
   padding-left: 19px;
}
.m2 {
    margin-top: 6px;
    width: 108px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 147px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p3 {
    font-size: 10px;
   padding-top: 9px;
   padding-left: 18px;
}
.m3 {
    margin-top: 5px;
    width: 99px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 154px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 15px;
   padding-left: 19px;
}
.m4 {
    margin-top: 7px;
    width: 70px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 188px;
    margin-top: 5px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}

.links {
    width: 2.5rem;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}
.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}

}