.background.signin {
  min-height: 100vh;
}

.signin main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin form {
  width: 400px;
  margin: 3rem auto;
}

.signin input {
  width: 100%;
  height: 2rem;
  border: none;
}

.signin .submit {
  background-color: #fc3ff0;
}

@media (max-width: 700px) {
  .about-h {
    font-size: 3rem;
  }
}
