body {
     background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



p {
    font-size: 50px;
    padding-left: 200px;
    padding-top: 50px;
    color: rgb(247, 64, 240);
}



.registrationandlinks {
    display: flex;
    flex-direction: row;
}


.registration {
    padding-left: 550px;
    padding-top: 130px;
    width: 400px;
    height: 225px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.submit {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    margin-left: 300px;
    background-color: rgb(82, 82, 82);
    color: white;
}

.links {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    padding-top: 60px;
    
}

svg {
    width: 2rem;
    height: 2rem;
}