:root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
}


/* HEADER */







.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}

.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.home {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}



/* MAIN */

.newalbum {
    margin: 5rem;
    padding-left: 67.3rem;
    padding-top: 5rem;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum1 {
   font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}
.newalbum2 {
    padding-left: 9rem;
    padding-top: 5rem;
    position: absolute;
    font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 75rem;
    margin-left: 75rem;
}



button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 7px;
}

audio {
    padding-left: 1.5rem;
}

.m a {
    font-size: 15px;
}

.m button {
    border-style: none;
    /* width: 260px;
    background-color: blue; */
}

.time {
    position: absolute;
    top: 895px;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}




.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 897px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 293px;
    height: 41px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 949px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1002px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1055px;
    left: 780px;
    display: flex;
    flex-direction: row;
}

.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 2px;
    width: 118px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p2 {
    font-size: 10px;
   padding-top: 11px;
}
.m2 {
    margin-top: 3px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh2 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p3 {
    font-size: 10px;
   padding-top: 9px;
}
.m3 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh3 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p4 {
    font-size: 10px;
   padding-top: 9px;
}
.m4 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh4 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}





.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}


/* FOOTER */

h5 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}





@media (min-width: 1280px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
    width: 100%;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.home {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.newalbum {
    margin: 5rem;
    padding-left: 67.3rem;
    padding-top: 5rem;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum1 {
   font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}
.newalbum2 {
    padding-left: 9rem;
    padding-top: 5rem;
    position: absolute;
    font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}
svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 75rem;
    margin-left: 75rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 7px;
}

audio {
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}

.m button {
    border-style: none;
    /* width: 260px;
    background-color: blue; */
}

.time {
    position: absolute;
    top: 895px;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 897px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 293px;
    height: 41px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 949px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1002px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1055px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 2px;
    width: 118px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p2 {
    font-size: 10px;
   padding-top: 11px;
}
.m2 {
    margin-top: 3px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh2 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p3 {
    font-size: 10px;
   padding-top: 9px;
}
.m3 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh3 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 9px;
}
.m4 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh4 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

}





@media (max-width: 1279px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
    width: 127.9rem;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.home {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.newalbum {
    margin: 5rem;
    padding-left: 67.3rem;
    padding-top: 5rem;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum1 {
   font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}
.newalbum2 {
    padding-left: 9rem;
    padding-top: 5rem;
    position: absolute;
    font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}
svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 75rem;
    margin-left: 75rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 7px;
}

audio {
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}

.m button {
    border-style: none;
    /* width: 260px;
    background-color: blue; */
}

.time {
    position: absolute;
    top: 895px;
    left: 1030px;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 897px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 293px;
    height: 41px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 949px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1002px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1055px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 2px;
    width: 118px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p2 {
    font-size: 10px;
   padding-top: 11px;
}
.m2 {
    margin-top: 3px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh2 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p3 {
    font-size: 10px;
   padding-top: 9px;
}
.m3 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh3 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 9px;
}
.m4 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh4 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

}




@media (max-width: 768px) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
    width: 77rem;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}
.home {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.newalbum {
    margin: 5rem;
    width: 400px;
    padding-left: 10rem;
    padding-top: 3rem;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum1 {
   font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}
.newalbum2 {
    padding-left: 9rem;
    padding-top: 5rem;
    position: absolute;
    font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}
svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    top: 25rem;
}

.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 75rem;
    margin-left: 16rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 7px;
}

audio {
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}

.m button {
    border-style: none;
    /* width: 260px;
    background-color: blue; */
}

.time {
    position: absolute;
    top: 87.5rem;
    left: 45rem;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 897px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 293px;
    height: 41px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 949px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1002px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1055px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 2px;
    width: 118px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p2 {
    font-size: 10px;
   padding-top: 11px;
}
.m2 {
    margin-top: 3px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh2 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p3 {
    font-size: 10px;
   padding-top: 9px;
}
.m3 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh3 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 9px;
}
.m4 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh4 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

}



@media (min-width: 0px), (max-width: 480) {
    :root {
    font-size: 10px;
    ---main-color: black;
    --main-background-color: white;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/9c608a_10fa3b1ab1f14f0bbb12d106cbeade94.jpg);
    width: 48rem;
}
.alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    left: 15rem;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(---main-color)
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
    position: absolute;
    left: 10rem;
}
.home {
    border-top: solid black 4px;
}

.links1 a:hover {
    color: rgb(247, 64, 240);
    border-top: solid black 4px;
}
.newalbum {
    margin: 1px;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum1 {
   font-family: "Cutive Mono", monospace;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 6px;
}
.newalbum2 {
    padding-left: 9rem;
    padding-top: 5rem;
    position: absolute;
    font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}
svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    position: fixed;
    top: 4rem;
}

.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 75rem;
    margin-left: 10rem;
    margin-top: 2rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: solid 1px rgb(173, 173, 173);
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}
.goodvibes {
    font-weight: 1;
}
.wixdemoalbum {
    font-weight: 400;
    padding-left: 7px;
}

audio {
    padding-left: 1.5rem;
}
.m a {
    font-size: 15px;
}

.m button {
    border-style: none;
}

.time {
    position: absolute;
    top: 76rem;
    left: 38rem;
}
.time1 {
    font-weight: 300;
}
.time2 {
    padding-top: 22px;
    font-weight: 300;
}
.time3 {
    padding-top: 23px;
    font-weight: 300;
}
.time4 {
    padding-top: 24px;
    font-weight: 300;
}
.invisible1 {
    opacity: 0;
}
.invisible2 {
    opacity: 0;
}
.invisible3 {
    opacity: 0;
}
.invisible4 {
    opacity: 0;
}
.hover1 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 897px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover2 {
    width: 293px;
    height: 41px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 949px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover3 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1002px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.hover4 {
    width: 293px;
    height: 40px;
    /* background-color: rgb(127, 127, 255); */
    position: absolute;
    top: 1055px;
    left: 780px;
    display: flex;
    flex-direction: row;
}
.p {
    font-size: 10px;
   padding-top: 9px;
}
.m1 {
    margin-top: 2px;
    width: 118px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p2 {
    font-size: 10px;
   padding-top: 11px;
}
.m2 {
    margin-top: 3px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh2 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b2 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b2:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}

.p3 {
    font-size: 10px;
   padding-top: 9px;
}
.m3 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh3 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b3 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b3:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.p4 {
    font-size: 10px;
   padding-top: 9px;
}
.m4 {
    margin-top: 1px;
    width: 122px;
    margin-left: 8px;
    color: rgb(173, 173, 173);
    border-style: none;
    font-size: 14px;
}
.sh4 {
    padding-left: 80px;
    padding-top: 9px;
    color: rgb(173, 173, 173);
}
.buy-b4 {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   background-color: rgb(173, 173, 173);
   color: white;
}
.buy-b4:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}
.invisible1:hover {
    opacity: 1;
}
.invisible2:hover {
    opacity: 1;
}
.invisible3:hover {
    opacity: 1;
}
.invisible4:hover {
    opacity: 1;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

}








/* @media (max-width: 1279px) {
    
    .background {
        background-image: url(Chloe.avif);
        background-repeat: no-repeat;
        background-size: cover;
        width: 127.9rem;
    }


    header {
        width: 1279px;
    }
    main {
        width: 1279px;
    }
    footer {
        width: 1279px;
    }

    .alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 180px;
    list-style: none;
    padding-left: 5px;
}
.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
    font-size: 1.5rem;
    padding-left: 1px;
}
a {
    color: var(---main-color);
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 5rem;
}

.newalbum {
    margin: 1rem;
    padding-left: 17rem;
    padding-top: 4rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum2 {
    padding-left: 4rem;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 50rem;
}


.musicd {
    background-color: var(--main-background-color);
    width: 40rem;
    height: 70rem;
    margin-left: 15rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: none;
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 15.3rem;
    width: 10rem;
}
img {
    width: 37.2rem;
    height: 37.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}

.goodvibes {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.wixdemoalbum {
    font-size: 3rem;
    margin-left: 4.8rem;
}

.bychloe {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
}


}




@media (max-width: 768px) {
    
    .background {
        background-image: url(Chloe.avif);
        background-repeat: no-repeat;
        background-size: cover;
        width: 76.8rem;
    }


    header {
        width: 768px;
    }
    main {
        width: 768px;
    }
    footer {
        width: 768px;
    }

    .alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
    padding-left: 5px;
}
.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    font-size: 1.5rem;
    padding-left: 1px;
}
a {
    color: var(---main-color);
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
}

.newalbum {
    margin: 1rem;
    padding-left: 11rem;
    padding-top: 4rem;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum2 {
    padding-left: 4rem;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 4rem;
}


.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 70rem;
    margin-left: 1.5rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: none;
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}

.goodvibes {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    font-size: 1rem;
}


}


@media (max-width: 480px) {
    .background {
    background-image: url("Chloe.avif") ;
    background-repeat: no-repeat;
    width: 48rem;
}


    header {
        width: 480px;
    }
    main {
        width: 480px;
    }
    footer {
        width: 480px;
    }

    .alllinks1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1px;
    list-style: none;
    padding-left: 5px;
}
.links1 ul {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    list-style: none;
    font-size: 1.5rem;
    padding-left: 1px;
}
a {
    color: var(---main-color);
}
.chloe a {
    color: rgb(247, 64, 240);
    font-size: 2.5rem;
}

.newalbum {
    margin: 1rem;
    padding-left: 4rem;
    padding-top: 4rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.newalbum2 {
    padding-left: 4rem;
}

svg {
    width: 2rem;
    height: 2rem;
}

.linksandmusic {
    display: flex;
    flex-direction: row;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    top: 4rem;
}


.musicd {
    background-color: var(--main-background-color);
    width: 33rem;
    height: 70rem;
    margin-left: 1.5rem;
}
button {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(173, 173, 173);
    background-color: var(--main-background-color);
    border: none;
}
button:hover {
    background-color: var(--main-background-color);
}
button:active {
    background-color: var(--main-background-color);
}
.buy {
    width: 12rem;
}
.share {
    margin-left: 7.8rem;
    width: 10rem;
}
img {
    width: 30.2rem;
    height: 30.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

h4 {
    margin-left: 8rem;
    font-size: 1.6rem;
}

.goodvibes {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.bychloe {
    font-size: 1rem;
}


} */